

.yjd-password { 
	width:100%; 
	height:100%; 
	overflow:hidden;
}
.password-title { 
	color:#fff;
	width:80px;
	margin:0 auto;
	text-align:center;
	padding-top:20px;
}
.password-title i { font-size:80px;  }
.password-title span  { width:100%; display:block;  }
.squared-tips { width:100%; text-align:center; color:#f77373; font-size:12px;}
.squared-tips span { font-size:14px; color:#fcd601; display:block; text-align:center}
.squared { 
	width:94%; 
	margin:0px auto; 
	padding-left:15px;
	height:auto;
	overflow:hidden
}
.squared li { 
	height:70px;
	width:70px;
	border-radius:70px;
	border:2px solid #dedede;
	float:left;
	margin:10px;
	
}
.squared-on {
	width:30px;
	height:30px;
	background:#fff;
	border-radius:30px;
	margin:20px auto;
	display:block
}
.squared-other { height:30px; line-height:30px; width:94%; margin:20px auto;}
.squared-other a { color:#fff; width:47%}
.squared-other-l { 
	margin-left:8px; 
	display:block;
	float:left;	
}
.squared-other-r { 
	display:block;
	float:right;
	text-align:right;
	margin-right:8px; 	
}
	
 