#upload .upload-main label {
    font-size: 12px;
}
#upload select, #upload textarea, #upload input[type="text"], #upload .input-group {
    font-size: 12px;
    height: auto;
    margin-bottom: 0
}
#upload .upload-tips {
    width: 94%;
    height: auto;
    padding: 10px 0;
    background: #ff9000;
    border-radius: 3px;
    color: #fff;
    font-size: 12px;
    margin: 20px auto;
}
#upload .upload-tips i {
    float: left;
    font-size: 30px;
    margin: 8px 10px;
}
#upload .upload-main ul {
    border-top: 1px solid #eee
}
#upload .upload-main li {
    width: 100%;
    border-bottom: 1px solid #eee;
    height: auto;
    overflow: hidden;
    padding: 8px 0;
}
